/*Add CSS styles here*/
#map { 
    height: 800px; 
    width: 80%;
    display: inline-block;
    }

    .sequence-control-container {  
        width: 350px;  
        height: 30px;  
        background-color: rgba(255,255,255,0.8);  
        padding: 10px;  
        line-height: 45px;  
        text-align: center;  
        border: solid gray 1px;  
        position: relative;
    }  
    
      
    .range-slider {
    width: 250px;
    }
    
    .step {  
        width: 40px;  
    }  
    
    .step img {  
        width: 100%;  
        height: auto;  
    }  
    
    #forward {  
        float: right;  
    }  
    
    #reverse {  
        float: left;  
    }
    .legend-control-container {
        width: 220px; 
        height: 80px; 
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        line-height: 1.5; 
        text-align: left; 
        border: solid gray 1px;
        position: relative; 
        bottom: 10px; 
        right: 10px; 
        font-family: 'Noto Sans', sans-serif;
        font-size: 12px;
        color: #252525;
    }
    .legend-control-container p {
        margin: 0;
        font-weight: bold;
        text-align: center; 
    }
    @media (max-width: 768px) {
        .legend-control-container {
            width: 160px;
            height: 100px;
            font-size: 10px;
        }
    } 
    @media (max-width: 768px) {
        .range-slider {
            width: 100px;
            }
    }   
    @media (max-width: 768px) {
        .sequence-control-container {  
            width: 200px;  
            height: 25px;  
        }
    }   
    .color-picker-container {
        position: relative;
      }
    .color-picker-container label {
        font-family: 'Noto Sans', sans-serif;
    }

.leaflet-popup-content p {
    margin: 0.2em 0; 
    line-height: .2;
}
body{
    font-family: 'Noto Serif', serif;
    color:rgb(32, 32, 32);
    font-size: large;
    padding: 10px;
}
.row {
    background-image: url("img/aging.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    max-height: 600px;
  }
h1{
    padding-top: 30px;
    text-align: center;
    color:  #252525;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-stroke-width: .1px;
}
.author{
    text-align: center;
    color:  #252525;
    -webkit-text-stroke-color: whitesmoke;
    -webkit-text-stroke-width: .05px;
}
.credits{
    padding-top: 40px;

}